nav li a{
    text-decoration: none;
}
nav li:hover{
background-color: aqua;

}
nav li{
    list-style: none;
    display: inline;
    margin-right: 20px ;
}
footer{
    text-align: center;
 color:tomato ;
}
img{
    box-shadow: 10px blue;
    alignment-baseline: central ;
}